<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Server" value="ftp://62.212.89.143" />
    <add key="UserName" value="presstvdoc" />
    <add key="PassWord" value="__CENTRO" />
    <add key="TempDirectory" value="c:\files\tmp\CONVERTTMP\" />
    <add key="DestDirectory" value="Doc/2013#Doc/2014#Teaser#Programs#Filler" />
    <add key="Bitrates" value="200#300#500#700" />
    <add key="LocalServer" value="\\192.168.100.193\video\Documentary#\\192.168.100.193\video\Documentary#\\192.168.100.193\video\Documentary#\\192.168.100.193\video\Documentary#\\192.168.100.193\video\Documentary" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>