<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Server" value="ftp://64.150.186.181" />
    <add key="UserName" value="uploader" />
    <add key="PassWord" value="Uploader!!)" />
    <add key="TempDirectory" value="c:\files\tmp\" />
    <add key="DestDirectory" value="presstv/program/A_Simple_Question#presstv/program/Africa_Today" />
    <add key="Bitrates" value="200" />
    <add key="LocalServer" value="\\192.168.100.193\video\program\A_Simple_Question#\\192.168.100.193\video\program\Africa_Today" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>